 
// font
$Lobster: 'Lobster', cursive;

// colors
$white: #FFFFFF;
$concrete: #F2F2F2; 
$creamCan: #F2C94C;
$black: #000;
$alto: #E0E0E0; 
$mineShaft: #333333;
$tulipTree: #EABF3C;
$burntSienna: #EB5757;
 